body {
    background: black;
    color: #ccee99;
    text-align: center;
}

#wrap {
    border: 0px solid #333;  
    width:auto;
    height:100vh;
  margin: 0 auto;
}

#images img {
    width: 100px;
    height: auto;
}
