body {
    background: black;
    color: #ccee99;
    text-align: center;
}

#wrap {
    border: 0px solid #333;  
    width:1920px;
    height:1080px;
  margin: 0 auto;
}

#images img {
    width: 100px;
    height: auto;
}